<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstName</key>
	<string></string>
	<key>lastName</key>
	<string></string>
	<key>therapistEmail</key>
	<string></string>
	<key>affectedHand</key>
	<string></string>
	<key>numberOfTargets</key>
	<integer>5</integer>
	<key>delayBetweenTargets</key>
	<integer>2</integer>
	<key>defaultTargetSize</key>
	<real>0.45</real>
	<key>enableSound</key>
	<true/>
</dict>
</plist>
